body {
  background-color: var(--bodybg);
}

.container {
  margin: auto;
  width: 1200px;
  background-color: #fff;
}

header {
  height: 80px;
  border: 1px solid black;
}
.header-block {
  padding-top: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.main-container {
  border: 1px solid black;
}

.last-container {
  display: flex;
  justify-content: center;
}

.profil-photo {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}

.last-block {
  display: flex;
  gap: 10px;

}
.card {
    width: 400px;
    height: 300px;
}
